body {
	background-color: #666666;
	background-image: url("bg.jpg");
}
#whole{
	width: 100%;
	height:100%;
	background:;
	margin: 0 auto;
	text-align:center;
	
}

#pLeft{
	width:50%;
	height:50%;
	min-width:150px;
	float: left;
	background:;
	min-width:25%;
	text-align:left;
	
	}
	
#pRight{
	width:50%;
	height:50%;
	background:;
	float:left;
	min-width:25%;
	text-align:left;
	}

.container{
	text-align:center;
	
}
